@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
.travel-list{
    background: linear-gradient(325deg,  #7824e7 0%,#fc7900 50%,#ffc800b9 100%);
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

}

.text{
  color: white ;
  font-family: 'Unbounded', cursive;
  font-size: 50px;
  color: white;
  background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
              rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
  background-size: 600vw 600vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 5s linear infinite forwards;

}

@keyframes slide {
    0%{
      background-position-x: 0%;
    }
    100%{
      background-position-x: 600vw;
    }
  }
  