.header {
  text-align: center;
}
 body {
  background-color: bisque;
 }

 .home {
  text-align: center;
  margin: 20px;
 }

 .travel-create {
  text-align: center;
  align-content: center; 
  margin: auto;
}